.input-container {
  padding: 5%;
}

.input-container input {
  background-color: #375285;
}

.input-container input::placeholder {
  color: #fff;
}

.input-container input:focus {
  background-color: #4e70af;
  color: #fff;
  outline: none;
  box-shadow: none;
}
